
    <div class="container">
        <div class="content">

                <div class="content1">
                    <h2><i class="fa-solid fa-house"></i></h2>
                    <h2 class="title">Let's Get Started</h2>
                </div>
                <div class="content_form">
                <div class="container_input">
                        <label for="userEmail">Email</label>
                        <div class="input_item">
                            <input type="email" placeholder="your Email address" id="userEmail">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                </div>
                <div class="container_input">
                    <label for="userPassword">Password</label>
                    <div class="input_item">
                        <input type="password" placeholder="your password" id="userPassword">
                        <!-- <i class="fa-regular fa-lock"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                        </svg>
                    </div>
            </div>
                </div>
                <div class="content3">
                    <div class="Sign_in"><button class="btn_signIn">Sign In</button></div>
                    <div class="google_btn_container">
                        <asl-google-signin-button type='standard' size='large' shape="rectangular" text="signin_with" theme="filled_blue"></asl-google-signin-button>
                    </div>
                </div>
        </div>
       
    </div>
