*{
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    width: 100%;
    overflow: hidden;
}
.object_up{
    position: fixed;
    height: 700px;
    width: 700px;
    border-radius: 50%;
    background-color: #ff0000;
    left: -15rem;
    margin-top: -32rem;
    z-index: -1;
}
.object_down{
    position: fixed;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ff0000;
    right: -7rem;
    bottom: -4rem;
    z-index: -1;

}
.login_section{
    z-index: 1;
    height: 75vh;
    width: 90%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.507);
    margin: 0;
    border-radius: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_section, .right_section{
    width: 50%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 0 4rem 4rem 0;
    }
}
.cover_section{
    position: absolute;
    background-color: #ff00007e;
    height: 75vh;
    width: 45%;
    right: 6rem;
    border-radius: 0 4rem 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    font-family: sans-serif;
    img{
        margin: 0;
        padding: 0;
    }
    .image{
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 4rem;
        text-align: center;
        color: white;
        margin-top: -4rem;
    }
    p{
        color: white;
        text-align: center;
    }

}



.left_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .svg1{
        width: 5rem;
        height: 5rem;
        fill: #ff0000;
    }
    .headers{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 25vh;
        width: 50%;
        margin: 0;
        padding: 0;
        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ff0000;
    
        }
        h4{
            margin: 0;
            padding: 0;
            color: #636363;
            font-size: 1.5rem;
        }
        h1{
            padding-left: 1rem;
        }
        p{
            text-align: center;
            color: #636363;

        }
    }
   
   .form_container{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
      .input_container {
        width: 50%;
      }
      
   }
}
.input_item{
    margin-top: 1.5rem;
    box-shadow: 0 0 .4rem #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #636363;
    padding: .1rem;
    border-radius: .8rem;
    width: 100%;
    svg{
        width: 2rem;
        height: 2rem;
        fill: #636363;
        padding-left: .5rem;
    }
input{
    border: none;
    outline: none;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
    color: #636363;
    font-size: 1rem;
}
}
.btn{
    margin-top: 2rem;
    width: 100%;
    height: 4vh;
    background-color: #ff0000;
    box-shadow: 0 0 .2rem #636363 ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
   button{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ffff;
    transition: .5s ease-in-out;
   }
  
}
.btn:hover{
    border: 2px solid #ff0000;
    background-color: transparent;
    button{
        color: black;
    }
   }
   .create_acount{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #636363;
     font-size: 1rem;
     a{
        color: #ff000091;
     }
    .transition{
        margin-top: .8rem;
        color: #636363;
    }

   }
   .social_media{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }